:root {
  --main-color: #ffffff;
  --secondary-color: #212121;
  --third-color: #2196f3;
  --fourth-color: #757575;
  --fifth-color: #000000;
  --sixth-color: rgba(255, 255, 255, 0.6);
  --seventh-color: #f5f4fa;
  --icon-color: #afb1b8;
  --fill: #2f303a;
}

body {
  background-color: var(--main-color);
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
p,
ul {
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header__logo {
  margin-right: 93px;
  color: var(--fifth-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header__logo--blue {
  color: var(--third-color);
}

.site-nav__current-link {
  color: var(--third-color);
  position: relative;
}

.site-nav__current-link--underline-studiya::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 45px;
  width: 48px;
  height: 4px;
  border-radius: 2px;
  background: var(--third-color);
}

.site-nav__current-link--underline-portfolio::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 45px;
  width: 76px;
  height: 4px;
  border-radius: 2px;
  background: var(--third-color);
}

.site-nav,
.main-addres {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

.site-nav__link {
  color: var(--secondary-color);
  -webkit-transition: 250ms;
  transition: 250ms;
}

.site-nav__link:hover, .site-nav__link:focus {
  color: var(--third-color);
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__list {
  margin-right: 50px;
}

.main-addres__link:not(:last-child) {
  margin-right: 50px;
}

.main-addres__link--color {
  -webkit-transition: 250ms;
  transition: 250ms;
  color: var(--fourth-color);
}

.main-addres__link--color:hover, .main-addres__link--color:focus {
  color: var(--third-color);
}

.main-addres {
  margin-left: auto;
}

.main-addres__mail {
  color: var(--fourth-color);
}

.main-addres__icon-nav {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--main-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border: none;
  background-color: var(--third-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: var(--main-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--main-color);
  cursor: pointer;
}

.modal__button:hover .modal__button-icon {
  fill: var(--third-color);
}

.modal__button-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.features {
  padding-top: 94px;
}

.features__icon-worklist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features__main-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__title {
  margin-bottom: 10px;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features__list {
  width: 270px;
  margin-right: 0px;
}

.features__list:not(:last-child) {
  margin-right: 30px;
}

.features__description {
  color: var(--fourth-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.activity {
  padding-top: 94px;
  padding-bottom: 94px;
  color: var(--secondary-color);
}

.activity__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  text-align: center;
}

.activity__image {
  position: relative;
}

.activity__image:not(:last-child) {
  margin-right: 30px;
}

.activity__description {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--main-color);
}

.activity__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--seventh-color);
}

.team__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.icon-team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  margin-bottom: 30px;
}

.icon-team__list:hover, .icon-team__list:focus {
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--third-color);
  fill: var(--main-color);
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.icon-team__list:not(:last-child) {
  margin-right: 10px;
}

.icon-team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  fill: var(--icon-color);
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-team__link:focus, .icon-team__link:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--third-color);
  fill: var(--main-color);
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.team__list-element {
  background-color: var(--main-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__list-element:not(:last-child) {
  margin-right: 30px;
}

.team-text__title {
  padding-bottom: 10px;
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team-text {
  padding-top: 30px;
}

.team-text__description {
  color: var(--fourth-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.client {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
  border-color: var(--main-color);
}

.client__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
}

.client__icon {
  fill: var(--icon-color);
}

.client__list-element:not(:last-child) {
  margin-right: 30px;
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  fill: var(--third-color);
  border-color: var(--third-color);
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.client__link:hover .client__icon,
.client__link:focus .client__icon {
  fill: var(--third-color);
  border-color: var(--third-color);
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.footer {
  background-color: var(--fill);
  padding-top: 60px;
  padding-bottom: 60px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__contact-mail {
  display: block;
  margin-bottom: 9px;
  color: var(--sixth-color);
  -webkit-transition: 250ms;
  transition: 250ms;
}

.footer__contact-mail:hover, .footer__contact-mail:focus {
  color: var(--third-color);
}

.footer__contact-tel {
  display: block;
  color: var(--sixth-color);
  -webkit-transition: 250ms;
  transition: 250ms;
}

.footer__contact-tel:hover, .footer__contact-tel:focus {
  color: var(--third-color);
}

.footer__logo--blue {
  color: var(--third-color);
}

.footer__logo {
  display: block;
  color: var(--main-color);
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer__contact-addres {
  display: block;
  margin-bottom: 9px;
  color: var(--main-color);
}

.footer__contact-list {
  font-style: normal;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.join {
  margin-top: 12px;
  margin-left: 70px;
}

.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 20px;
}

.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.join__list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--main-color);
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__list-icon:hover, .join__list-icon:focus {
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--third-color);
  fill: var(--main-color);
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.join__list-element:not(:last-child) {
  margin-right: 10px;
}

.form__title {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.form__label {
  position: relative;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--fourth-color);
}

.form__input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  border: 1px solid var(--third-color);
}

.form__input:focus ~ .form__icon {
  fill: var(--third-color);
}

.form__area {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  cursor: pointer;
  outline: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__area:focus {
  border: 1px solid var(--third-color);
}

.form__area::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__area:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__area::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__area::placeholder {
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy {
  margin-top: 20px;
  padding-left: 12px;
  padding-right: 7px;
}

.policy__link {
  margin-left: 5px;
  color: var(--third-color);
  text-decoration: underline;
}

.policy__label {
  font-size: 14px;
  line-height: 1.7;
  color: var(--fourth-color);
}

.form__place {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  width: 18px;
  height: 18px;
  fill: var(--secondary-color);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.policy__label::before {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border-radius: 2px;
  border: 2px solid var(--secondary-color);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__input:checked + .policy__label::before {
  border: 2px solid var(--third-color);
  border-color: var(--third-color);
  background-color: var(--third-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.policy__input--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 29px;
  border: none;
  background-color: var(--third-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.submit-button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  border: none;
  background-color: var(--third-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.subscribe {
  margin-top: 12px;
  margin-left: 93px;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sibscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 20px;
}

.subscribe__input {
  width: 358px;
  height: 50px;
  padding-left: 15px;
  margin-right: 15px;
  color: var(--main-color);
  background-color: var(--fill);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe__icon {
  margin-left: 10px;
}

.filter-button {
  padding: 6px 22px;
  border: none;
  background-color: var(--seventh-color);
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  -webkit-transform: scaleY(0.9);
          transform: scaleY(0.9);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
  background-color: var(--third-color);
  color: var(--main-color);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  -webkit-transform: scaleY(1.2);
          transform: scaleY(1.2);
}

.portfolio-section .title {
  color: var(--secondary-color);
}

.portfolio-section__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio-section__filter-list:not(:last-child) {
  margin-right: 8px;
}

.portfolio-section {
  padding-top: 94px;
}

.portfolio__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--fourth-color);
  margin-top: 4px;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding-bottom: 94px;
}

.portfolio__iteam {
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  overflow: hidden;
}

.portfolio__iteam:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__iteam:hover .text-overlay {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  display: inline-block;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__text {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
/*# sourceMappingURL=main.css.map */