.client {
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
  border-color: var(--main-color);
}

.client__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.client__list {
  display: flex;
  padding-top: 50px;

  @media screen and (max-width: 1199px) {
    margin: -15px;
    flex-wrap: wrap;
  }
}

.client__icon {
  fill: var(--icon-color);
}

.client__list-element {
  @media screen and (max-width: 767px) {
    margin: 15px;
    flex-basis: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 15px;
    flex-basis: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--third-color);
    border-color: var(--third-color);
    transform: scale(1.25);
  }
  &:hover .client__icon,
  &:focus .client__icon {
    fill: var(--third-color);
    border-color: var(--third-color);
    transform: scale(1.25);
  }

  @media screen and (min-width: 480px) {
    width: 210px;
  }
  @media screen and (min-width: 768px) {
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}
