.client {
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
  border-color: var(--main-color);
}

.client__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.client__list {
  display: flex;
  padding-top: 50px;
}
.client__icon {
  fill: var(--icon-color);
}

.client__list-element {
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transform: scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--third-color);
    border-color: var(--third-color);
    transform: scale(1.25);
  }
  &:hover .client__icon,
  &:focus .client__icon {
    fill: var(--third-color);
    border-color: var(--third-color);
    transform: scale(1.25);
  }
}
