:root {
  --main-color: #ffffff;
  --secondary-color: #212121;
  --third-color: #2196f3;
  --fourth-color: #757575;
  --fifth-color: #000000;
  --sixth-color: rgba(255, 255, 255, 0.6);
  --seventh-color: #f5f4fa;
  --icon-color: #afb1b8;
  --fill: #2f303a;
}
